<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>

    <!--STATIC VALUES TO BASE DIRECTION FOLDER NAMES-->
    <add key="CSV_folder" value="Label_csv_data"/>
    <add key="Script_folder" value="Label_script"/>
    <add key="Temp_folder" value="Label_temp"/>
    <add key="Split_char" value=";"/>

    <!--VALUES TO EDIT WHEN WE WANT ADD NEW DATA CSV AND TEMPLEMATE ZPL CODE-->
    <add key="CSV_file_name_BOX" value="BOX_data.csv"/>
    <add key="CSV_file_name_PALLET" value="PALLET_data.csv"/>
    <add key="CSV_file_name_TEST" value="TEST_data.csv"/>

    <add key="Temp_file_PALLET" value="PALLET_label.txt"/>
    <add key="Temp_file_BOX" value="BOX_label.txt"/>
    <add key="Temp_file_TEST" value="TEST_label.txt"/>

  </appSettings>
</configuration>