<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="CSV_folder" value="Label_csv_data"/>
    <add key="Script_folder" value="Label_script"/>
    <add key="Temp_folder" value="Label_temp"/>

    <add key="CSV_file_name" value="data.csv"/>
    <add key="Temp_file_PALLET" value="PALLET_label.txt"/>
    <add key="Temp_file_BOX" value="BOX_label.txt"/>
  </appSettings>
</configuration>